#content{"ng-controller" => "HomeCtrl" }
  #jquery_jplayer_1.jp-jplayer

  %span#loading{ "ng-if" => "!loaded" }
    = render :partial => 'loading'

  #top{ "ng-if" => "loaded" }
    = render :partial => 'configure_group'

    #loading-small{ "ng-if" => "loading > 0 || home.sync_data.refreshing" }
      = render :partial => 'loading'

    #media-selector{ "ng-if" => "home.device_selected"}
      #mode-select.ellipsis
        %p{ "ng-repeat" => "mode in available_modes"}
          = render :partial => 'mode'

      // Music / White Noise
      #mp3s{ "ng-if" => "home.mode_ui == 'music' || home.mode_ui == 'white-noise' || home.mode_ui == 'spoken'"}
        %a#refresh-media.hand{ "ng-click" => "refresh_media()"}
          Update Library

        %h3{ "ng-if" => "(home.mode_ui == 'music' || home.mode_ui == 'spoken') && home.folder.id != -1" }
          %a.hand#back-button{ "ng-click" => "select_folder(home.folder.parent_folder_id)", "ng-if" => "home.folder.id > -1 && mode != 'white-noise'" }
            %img{ "ng-src" => "/images/light/back_20.png", width: 32 }
          {{home.folder.basename}}:

        // Edge case: user is in a folder that disappeared during a sync
        %a#back-button{ "ng-if" => "(!home || !home.folder || !home.folder.parent_folder_id) && home.folder.id != -1", "ng-click" => "select_folder(-1)" }
          &lt;-- Current folder has been removed. Click here to go home.

        .mp3-record{ "ng-if" => "home.mode_ui == 'spoken' && home.folder.bookmark['mp3']"}
          %p
            %a.hand{ "ng-click" => "play_bookmark(home.folder.bookmark)" }
              Resume From Bookmark: 
          %p
            &nbsp;&nbsp;{{home.folder.bookmark['mp3']['title']}} 
            %span{ "ng-if" => "home.folder.bookmark['mp3']['track_nr']" }
              (track {{home.folder.bookmark['mp3']['track_nr']}})
            &nbsp;-> {{home.folder.bookmark['elapsed_friendly']}}

        %table.folders.table.table-hover.folders.table-sm
          %tr.folder-record{ "ng-repeat" => "folder in home.folders | filter : current_subfolders" }
            %td.folder-playing
              %span.play-button{ "ng-if" => "is_playing('folder.id', folder.id)", "ng-init" => "entry = is_playing('folder.id', folder.id)" }
                %img{ "ng-src" => "/images/play_device_{{entry.num_casting || 0}}.png"}

            %td.folder-name.ellipsis
              %a.hand.select-folder{ "ng-click" => "select_folder(folder.id)" }
                {{folder.basename}}

        .mp3-record{ "ng-if" => "!home.mp3s.length && !home.folders.length" }
          No tracks or folders found

        .mp3s
          .mp3-header{ "ng-if" => "home.mp3s.length" }
            .mp3-playing
            .mp3-track-nr.hand{ "ng-click" => "set_mp3_sort('track_nr')" }
              = "#"
              %span.arrow-up{ "ng-if" => "home.mp3_sort == 'track_nr'" }
              %span.arrow-down{ "ng-if" => "home.mp3_sort == '-track_nr'" }
            .mp3-title.hand{ "ng-click" => "set_mp3_sort('title')" }
              %span{ "ng-if" => "home.mp3_sort_filename" }
                Filename
              %span.arrow-up{ "ng-if" => "home.mp3_sort == 'filename'" }
              %span.arrow-down{ "ng-if" => "home.mp3_sort == '-filename'" }
              %span{ "ng-if" => "!home.mp3_sort_filename" }
                Title
              %span.arrow-up{ "ng-if" => "home.mp3_sort == 'title'" }
              %span.arrow-down{ "ng-if" => "home.mp3_sort == '-title'" }
            .mp3-artist.hand.ellipsis{ "ng-click" => "set_mp3_sort('artist')" }
              Artist
              %span.arrow-up{ "ng-if" => "home.mp3_sort == 'artist'" }
              %span.arrow-down{ "ng-if" => "home.mp3_sort == '-artist'" }
            .mp3-album.hand.ellipsis{ "ng-click" => "set_mp3_sort('album')" }
              Album
              %span.arrow-up{ "ng-if" => "home.mp3_sort == 'album'" }
              %span.arrow-down{ "ng-if" => "home.mp3_sort == '-album'" }
            .mp3-year.hand{ "ng-click" => "set_mp3_sort('year')" }
              Year
              %span.arrow-up{ "ng-if" => "home.mp3_sort == 'year'" }
              %span.arrow-down{ "ng-if" => "home.mp3_sort == '-year'" }
            .mp3-length-seconds.hand{ "ng-click" => "set_mp3_sort('length_seconds')" }
              Time
              %span.arrow-up{ "ng-if" => "home.mp3_sort == 'length_seconds'" }
              %span.arrow-down{ "ng-if" => "home.mp3_sort == '-length_seconds'" }

          / works for 'white-noise' and 'music'
          .mp3-record{ "ng-repeat" => "mp3 in home.mp3s" }
            .mp3-playing
              %span.play-button{ "ng-if" => "is_playing('mp3.id', mp3.id)", "ng-init" => "entry = is_playing('mp3.id', mp3.id)" }
                %img{ "ng-src" => "/images/play_device_{{entry.num_casting}}.png"}
            .mp3-track-nr
              {{mp3.track_nr || "-"}}
            .mp3-title.hand.ellipsis
              %a.play-mp3{ "ng-click" => "play($index)", "ng-attr-title" => "{{mp3.title}}" }
                %span{ "ng-if" => "home.mp3_sort_filename" }
                  {{mp3.filename}}
                %span{ "ng-if" => "!home.mp3_sort_filename" }
                  {{mp3.title || mp3.filename}}
            .mp3-artist.ellipsis
              {{mp3.artist || ' - ' }}
            .mp3-album.ellipsis
              {{mp3.album || ' - '}}
            .mp3-year
              {{mp3.year || ' - '}}
            .mp3-length-seconds
              {{mp3.length_seconds | secondsToDateTime | date:'H:mm:ss' }}

        //%br
        //%p{ "ng-if" => "home.mode_ui == 'spoken'"}
        //  Note: In the Spoken Word section, stopping or pausing a track will save a "bookmark" which you can resume later.
        %br
        %br

      // Radio
      #radio{ "ng-if" => "home.mode_ui == 'radio'" }
        %h4
          Radio Stations:
        %table.table.table-hover
          %tr.mp3-record{ "ng-repeat" => "station in home.radio_stations", style: "width: 500px" }
            %td.mp3-playing
              %span.play-button{ "ng-if" => "is_playing('mp3.url', station.url)", "ng-init" => "entry = is_playing('mp3.url', station.url)" }
                %img{ "ng-src" => "/images/play_device_{{entry.num_casting}}.png"}
            %td.mp3-title.ellipsis
              %a{ "ng-click" => "play_radio(station)"}
                {{station.name}}
        %br


      #settings{ "ng-if" => "home.mode_ui == 'settings'" }
        %h3
          Settings:
        %hr

        %h4
          Server URL(s):

        %p
          %b Wifi accessible:
        {{http_address_local}}
        %br
        %br
        %p
          %b Internet accessible:
        {{http_address_ddns}}
        %hr

      // Presets
      #presets{ "ng-if" => "home.mode_ui == 'presets'" }
        %h3
          Chromecast Presets:
        %p{ "ng-if" => "is_anything_playing()"}
          %a{ "ng-click" => "preset_create()" }<
            Create Preset
          &nbsp;based the currently playing casts + playlists
        %p{ "ng-if" => "!is_anything_playing()"}
          Start casting in order to save a preset

        .preset-record
          .preset-title.ellipsis
            Preset Name:
          .preset-schedule
            Schedule: days, start time, stop time
          .preset-delete

        .preset-record{ "ng-repeat" => "preset in home.presets" }
          .preset-title.ellipsis
            %a{ "ng-click" => "play_preset(preset.id)"}
              {{preset.name}}
            &nbsp;
            %a{ "ng-click" => "rename_preset(preset.id)", style: "font-size: 10px" }
              (rename)
          .preset-schedule
            %input.schedule_days{ "ng-model" => "preset.schedule_days", :placeholder => "Daily" }
            %input.schedule_start{ "ng-model" => "preset.schedule_start", :placeholder => "12:30 PM" }
            %input.schedule_end{ "ng-model" => "preset.schedule_end", :placeholder => "1:30 AM" }
            %a{ "ng-click" => "save_preset_schedule(preset)"}
              SAVE
          .preset-delete
            %a{ "ng-click" => "delete_preset(preset.id)"}
              DEL

        %br
        %h4
          Scheduling Help:
        %div{ style: "width: 500px" }
          You can schedule presets to start/stop at certain days and times.

        %p{ "ng-if" => "home.presets.length > 0" }
          Days format: M TU W TH F SA SU.
          %ul
            %li
              Example: "M W F" (minus the quotes) for Monday + Wednesday + Friday
            %li
              Example: "SA SU" for the weekend
            %li
              If blank will run daily
        %br
        %br

    #cast-select
      %script#mySnippet{:type => "text/ng-template"}

      %table{ :style => "width: 100%" }
        %tr
          %td{ :style => "width: 50%; vertical-align: top" }
            %table{ :style => "width: 100%; table-layout: fixed" }
              %tr{ "ng-repeat" => "device in home.devices", "ng-if" => "device.cast_type == 'group'" }
                = render :partial => 'device'
              %tr#browser-device{ "ng-init" => "device = browser_device"}
                = render :partial => 'device'

          %td{ :style => "width: 50%; vertical-align: top" }
            %img.hand{ "ng-click" => "refresh_devices()", "ng-src" => "/images/light/refresh_16.png", title: "Refresh the list of casts/groups", style: "position: absolute; right: 20px" }

            %table{ :style => "width: 100%; table-layout: fixed" }
              %tr{ "ng-repeat" => "device in home.devices", "ng-if" => "device.cast_type == 'audio'" }
                = render :partial => 'device'

    //{ "ng-if" => "home.device_selected.player_status != 'IDLE' && home.device_selected.player_status != 'UNKNOWN'" }
    #playbar
      #cur-song
        #song-name.ellipsis
          %span{  }
            {{home.device_selected.state_local.mp3.title || home.device_selected.state_local.mp3.filename || home.device_selected.state_local.radio_station.name || "---"}}
          %span{ "ng-if" => "home.device_selected.state_local.mp3.artist" }
            ({{home.device_selected.state_local.mp3.artist}})
        #current-cast-name.ellipsis
          {{home.device_selected.friendly_name}}
      #play-controls
        #playbar-previous.play-control.play-control-large.hand{ "ng-click" => "prev()", title: "Play previous", "ng-class" => "{ 'disabled': playbar.playlistIndex == 0 }" }
          %img{ "ng-src" => "/images/light/previous_16.png" }
        #playbar-resume.play-control.play-control-large.hand{"ng-show" => "!playbar.playing", "ng-click" => "resume()", title: "Play current" }
          %img{ "ng-src" => "/images/light/play2_20.png" }
        #playbar-pause.play-control.play-control-large.hand{"ng-show" => "playbar.playing", "ng-click" => "pause()", title: "Pause current"}
          %img{ "ng-src" => "/images/light/pause2_20.png" }
        #playbar-next.play-control.play-control-large.hand{ "ng-click" => "next()", title: "Skip to next", "ng-class" => "{ 'disabled': playbar.playlistIndex == playbar.playlist.length - 1 }" }
          %img{ "ng-src" => "/images/light/next_16.png" }
        #playbar-repeat.play-control.play-control-small.hand{ "ng-click" => "toggleRepeat()", title: "Enable/disable repeat", "ng-hide" => "home.mode_ui == 'radio'" }
          %img{ "ng-src" => "/images/light/repeat_{{home.device_selected.state_local.repeat}}_16.png" }
        #playbar-shuffle.play-control.play-control-small.hand{ "ng-click" => "toggleShuffle()", title: "Enable/disable shuffle", "ng-hide" => "home.mode_ui == 'radio'"  }
          %img{ "ng-src" => "/images/light/shuffle_{{home.device_selected.state_local.shuffle}}_16.png" }

      #time-passed
        %span 0:00

      #progress
        #progress-wrapper.hand{ "ng-click" => "seek($event)" }
          #progress-background
          #progress-bar{:style => "width: 0%;"}
          #progress-handle.sc-ir{:style => "left: 16px;"}

      #playback-duration
        %span

      #stop-all
        %a.hand{ "ng-click" => "stop_all()", title: "Emergency stop all chromecasts" }<
          %img{ "ng-src" => "/images/light/stop_20.png" }

