!!!
%html{"ng-app" => "multiroomApp"}
  %head
    %title MultiRoom
    = csrf_meta_tags
    = stylesheet_link_tag    '/bootstrap/css/bootstrap.min.css', media: 'all'
    = stylesheet_link_tag    'application', media: 'all'
    = action_cable_meta_tag

  %body{"ng-controller" => "GlobalCtrl", "ng-class" => "{{ currentPage }}" }
    = yield
    #view{ "ng-view" => "" }

  :javascript
    window.authenticityToken = "#{form_authenticity_token}";
    window.env = "#{Rails.env}";
    window.railsTest = #{Rails.env.test?};
    window.audio_dir = "#{$audio_dir}";

  = javascript_include_tag 'application'
  = javascript_include_tag '/bootstrap/js/bootstrap.js'
