!!!
%html{"ng-app" => "multiroomApp"}
  %head
    %title MultiRoom
    = csrf_meta_tags
    = stylesheet_link_tag    '/bootstrap/css/bootstrap.min.css', media: 'all'
    = stylesheet_link_tag    'application', media: 'all'
    = action_cable_meta_tag
    %link{:href => "/favicon.png", :rel => "icon", :type => "image/png"}/

  %body{"ng-controller" => "GlobalCtrl", "ng-class" => "{{ currentPage }}" }
    = yield
    #view{ "ng-view" => "" }

  :javascript
    window.authenticityToken = "#{form_authenticity_token}";
    window.env = "#{Rails.env}";
    window.audio_dir = "#{$audio_dir}";
    window.http_address = "#{request.host == $settings['ddns_hostname'] ? $http_address_ddns : $http_address_local}";
    window.theme = #{JSON.dump($theme)};
    window.request_hostname = "#{request.host}";
    window.http_address_ddns = "#{$http_address_ddns}";
    window.http_address_local = "#{$http_address_local}";
    window.menu = #{JSON.dump($settings['menu'])};

  = javascript_include_tag 'application'
  = javascript_include_tag '/bootstrap/js/bootstrap.js'
